{% extends 'base.html' %}
{% load static %}
{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h1 class="card-title">{{ article.title }}</h1>
      <small>Category: {{ article.theme  }}</small>
      <p class="card-text">{{ article.text }}</p>
      Click <a href="{% url 'article_list' %}">here</a> to go back to the list of articles.
      {% if user.is_authenticated %}
      <a href="{% url 'article_edit' article.id %}" class="btn btn-primary">Edit Article</a> |
      <a href="{% url 'article_delete' article.id %}" class="btn btn-danger">Delete Article</a>
      {% endif %}
    </div>
  </div>
{% endblock content %}